<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Loyc.Collections" version="27.2.1" targetFramework="net45" />
  <package id="Loyc.Essentials" version="27.2.1" targetFramework="net45" />
  <package id="Loyc.Interfaces" version="27.2.1" targetFramework="net45" />
  <package id="Loyc.Math" version="27.2.1" targetFramework="net45" />
  <package id="Loyc.Syntax" version="27.2.1" targetFramework="net45" />
  <package id="Loyc.Utilities" version="27.2.1" targetFramework="net45" />
  <package id="LoycCore" version="27.2.1" targetFramework="net45" />
</packages>